.header__lang-link_underline_en {
  width: 30px;
  text-decoration-line: none;
}

.header__lang-link_underline_en:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link_underline_en {
    width: 22px;
    padding-right: 18px;
  }
}
