.places{
  max-width: 984px;
  min-height: 3392px;
  margin: auto;
  padding-top: 92px;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
    min-height: 3292px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    min-height: 2810px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    min-height: 4786px;
    padding-top: 64px;
  }
}
