.header__lang-link_underline_ru {
  width: 30px;
  height: 28px;
  padding-right: 24px;
  text-decoration-line: none;
}

.header__lang-link_underline_ru:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link_underline_ru {
    width: 22px;
    height: 20px;
    padding-right: 18px;
  }
}
