.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  min-height: 429px;
  margin: 0 auto;
  padding-top: 92px;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    min-height: 429px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    min-height: 429px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    padding-top: 64px;
  }
}
